<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Degustify</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <!-- Header Section -->
  <header class="header">
    <div class="container">
      <h1 class="logo">Degustify</h1>
      <nav class="nav">
        <ul>
          <li><a href="#red-wines">Red Wines</a></li>
          <li><a href="#white-wines">White Wines</a></li>
          <li><a href="#news">News</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
      <a href="#login" class="login">Login</a>
    </div>
  </header>

  <!-- Greetings Section -->
  <section class="greetings">
    <div class="container">
      <div class="text-content">
        <h2>Let Us Guide Your Discovery</h2>
        <p>
          Explore what's available to customers in Quebec with curated insights, expert reviews, and pairing suggestions crafted for both enthusiasts and curious beginners. From tracking your tasting journey to uncovering Quebec's finest selections, your flavorful adventure starts here.
        </p>
        <a href="#learn-more" class="button">Learn more</a>
      </div>
      <div class="image-content">
        <img src="https://i.ibb.co/vjsQBpD/La-matini-ere.png" alt="Wine bottle image 1">
        <img src="https://i.ibb.co/9WmjxP3/Screenshot-2024-11-19-105854.png" alt="Wine bottle image 2">
        <img src="https://i.ibb.co/5h19K31/bodega.png" alt="Wine bottle image 3">
      </div>
    </div>
  </section>
  
   <!-- about Section -->
  <section class="about">
  <div class="container">
    <div class="image-content">
      <img src="https://i.ibb.co/wNS17hf/toit-raisin.jpg" alt="Grape trellis image">
    </div>
    <div class="text-content">
      <h2>More about Degustify</h2>
      <p>
        At Degustify, we are passionate about uncovering hidden gems available at SAQ stores, from affordable treasures to premium selections. Our mission is to deepen your appreciation for wine by providing curated insights, expert reviews, and thoughtful pairing recommendations.
      </p>
      <p>
        Discover the stories behind your favorite bottles, learn about hidden gems, and explore a platform designed for enthusiasts and beginners alike.
      </p>
    </div>
  </div>
</section>
  
  
</body>
</html>
