<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link rel="stylesheet" href="../static/css/news-style.css">
</head>
<body>
     <!-- Header Section -->
  <header class="header">
    <div class="container">
      <h1 class="logo">Degustify</h1>
      <nav class="nav">
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="#red-wines">Red Wines</a></li>
            <li><a href="#white-wines">White Wines</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
      <a href="#login" class="login">Login</a>
    </div>
  </header>

  <main>
    <section class="news-articles">
        <article>
            <h2></h2>


        </article>
        <article>

        </article>
        <article>

        </article>
    </section>


  </main>








  <footer class="footer">
    <div class="container">
      <!-- Logo and Éduc'alcool -->
      <div class="footer-logo">
        <h2>Degustify</h2>
        <img src="https://i.ibb.co/RCV6JSx/moderation.png" alt="Éduc'alcool moderation message">
      </div>
  
      <!-- Navigation Links -->
      <div class="footer-links">
        <h3>Explore</h3>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="#red-wines">Red wines</a></li>
            <li><a href="#white-wines">White wines</a></li>
            <li><a href="news.html">News</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
  
      <!-- Social Links -->
      <div class="footer-social">
        <h3>Follow us</h3>
        <ul>
    
</body>
</html>