<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vineyards</title> <!-- Do wineries sounds better ? -->
    <link rel="stylesheet" href="../static/css/vineyards-style.css">
</head>
<body>
        <!-- Header Section -->
  <header class="header">
    <div class="container">
      <h1 class="logo">Degustify</h1>
      <nav class="nav">
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="#red-wines">Red Wines</a></li>
            <li><a href="#white-wines">White Wines</a></li>
            <li><a href="vineyards.html">Vineyards</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
      <a href="#login" class="login">Login</a>
    </div>
  </header>

  <main>
    <!-- Map Section -->
    <section class="vinyard-map">
        <div class="map">
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1oKkwU6ordkG3pIBrE9bknM5R6ql0P_o&ehbc=2E312F&noprof=1"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    
        <div class="buttons">
            <a href="#orpailleur">Vignoble de l'Orpailleur</a>
            <a href="#petronille">Ste-Pétronille - Winery & Cidery</a>
            <a href="#ardoise">Domaine Cotes d'Ardoise - Winery & Cidery</a>
            <a href="#riviere">Domaine du Fleuve</a>
            <a href="#valcaudalies">Val Caudalies</a>
          </div>
        </div>
    </section>        
    
    <!-- Vinyards Section -->
    <section>
        <article class="vineyard" id="orpailleur">

            <div class="text-content">
                <h2>Vignoble de l'Orpailleur</h2>
                <p>The Vignoble de l'Orpailleur is the great adventure of four enthusiasts who planted their 
                    roots in 1982 in the magnificent terroir of Dunham, the cradle of viticulture in Quebec.
                    Through passion, the vines have grown, the wines have developed, and these four instigators 
                    of the Brome-Missisquoi Wine Route have developed one of the best known and most appreciated 
                    wines of Quebec.</p>
                <a href="https://orpailleur.ca/" target="_blank" class="vineyard-link">Visit Official Website</a>
            </div>

            <div class="image-content">
                <img src="../static/images/vinyards/Orpailleur1.jpg" alt="L'Orpailleur wine field">
                <img src="../static/images/vinyards/Orpailleur2.jpg" alt="L'Orpailleur event">
                <img src="../static/images/vinyards/Orpailleur3.jpg" alt="L'Orpailleur grapes">
            </div>

        </article>
        <article class="vineyard" id="petronille">
            <div class="text-content">
                <h2>Ste-Pétronille - Winery & Cidery</h2>
                <p>Ste-Pétronille Winery & Cidery is a hidden gem located in the charming village of Sainte-Pétronille, Quebec, 
                    surrounded by breathtaking landscapes and the scenic views of the St. Lawrence River. 
                    This winery is not just a place to taste exceptional wines and ciders; it is an experience that immerses you in the rich culture of local viticulture and gastronomy. 
                    The winery is celebrated for its meticulously crafted wines that reflect the terroir of the region. </p>
                <a href="https://vs-p.ca/" target="_blank" class="vineyard-link">Visit Official Website</a>
    
            </div>
            <div class="image-content">
                <img src="../static/images/vinyards/petronille1.jpg" alt="Ste-Pétronille product">
                <img src="../static/images/vinyards/petronille2.jpg" alt="Ste-Pétronille family">
                <img src="../static/images/vinyards/petronille3.jpg" alt="Ste-Pétronille field">
            </div>
        </article>
        <article class="vineyard" id="ardoise">
            <div class="text-content">
                <h2>Domaine Cotes d'Ardoise - Winery & Cidery</h2>
                <p>The Domaine des Côtes d'Ardoise, located in Dunham, is a true countryside gem. 
                    You'll be captivated by its beautiful gardens, historic buildings, and stunning outdoor art exhibit. 
                    With great pride, we invite you to enjoy tastings of our wines and ciders on-site, 
                    many of which have earned recognition over the years.</p>
                <a href="https://cotesdardoise.com/" target="_blank" class="vineyard-link">Visit Official Website</a>

            </div>
            <div class="image-content">
                <img src="../static/images/vinyards/ardoise1.jpeg" alt="Ste-Pétronille product">
                <img src="../static/images/vinyards/ardoise2.jpg" alt="Ste-Pétronille family">
                <img src="../static/images/vinyards/ardoise3.jpg" alt="Ste-Pétronille field">
            </div>
        </article>
    </section>


  </main>








  <footer class="footer">
    <div class="container">
      <!-- Logo and Éduc'alcool -->
      <div class="footer-logo">
        <h2>Degustify</h2>
        <img src="https://i.ibb.co/RCV6JSx/moderation.png" alt="Éduc'alcool moderation message">
      </div>
  
      <!-- Navigation Links -->
      <div class="footer-links">
        <h3>Explore</h3>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="#red-wines">Red wines</a></li>
            <li><a href="#white-wines">White wines</a></li>
            <li><a href="news.html">News</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
  
      <!-- Social Links -->
      <div class="footer-social">
        <h3>Follow us</h3>
        <ul>
    
</body>
</html>